<div class="flex gap-4">
  <input
    #fileInput
    type="file"
    class="hidden"
    (change)="onFileChange($event)"
    accept=".pdf"
  />

  <button
    type="button"
    class="h-9 w-9 rounded-full btn-icon flex justify-center items-center hover:bg-secondary border-[2px] border-border"
    (click)="triggerFilePicker()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="h-5 w-5"
    >
      <path d="M13.234 20.252 21 12.3" />
      <path
        d="m16 6-8.414 8.586a2 2 0 0 0 0 2.828 2 2 0 0 0 2.828 0l8.414-8.586a4 4 0 0 0 0-5.656 4 4 0 0 0-5.656 0l-8.415 8.585a6 6 0 1 0 8.486 8.486"
      />
    </svg>
    <span class="sr-only">Attach files</span>
  </button>

  <div
    *ngIf="selectedFile"
    class="flex items-center gap-3 py-1 px-2 rounded-md bg-secondary text-xs"
  >
    <app-file-icon [type]="selectedFile.type" class="h-3 w-3"></app-file-icon>
    <span class="truncate max-w-[100px] text-center">{{
      selectedFile.name
    }}</span>
    <button
      type="button"
      (click)="removeFile()"
      class="ml-1 text-muted-foreground hover:text-foreground"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="h-3 w-3"
      >
        <path d="M18 6 6 18" />
        <path d="m6 6 12 12" />
      </svg>
      <span class="sr-only">Remove</span>
    </button>
  </div>
</div>
